@import '../public/fonts/mouse-memoir.css';
@import 'tailwindcss';

@theme {
  /* colors */
  --color-persian-indigo: #2b1677;
  --color-black-rock: #1a043a;
  --color-deep-koamaru: #151278;
  --color-dark-navy: #261676;
  --color-resolution-blue: #001479;
  --color-arapawa: #140e66;
  --color-ebony-clay: #243041;
  --color-governor-bay: #344aba;
  --color-blue-ribbon: #2463ff;
  --color-dodger-blue: #3c74ff;
  --color-malibu: #7199ff;
  --color-malibu-light: #67b6ff;
  --color-purple-mountains-majesty: #887dc0;
  --color-electric-violet: #9d2df5;
  --color-heliotrope: #bd24fb;
  --color-heliotrope-light: #c642fb;
  --color-blush-pink: #fe71fe;

  /* fonts */
  --font-sans: 'Mouse Memoirs', sans-serif;

  /* font sizes */
  --text-heading-2xl: clamp(5.875rem, 80vw, 8.375rem); /* 94 - 134 */
  --text-heading-xl: clamp(3rem, 9.5vw, 8.5rem); /* 48 - 136 */
  --text-heading-lg: clamp(2.5rem, 60vw, 5.5rem); /* 40 - 88 */
  --text-heading-md: clamp(1.5rem, 6.25vw, 5.5rem); /* 24 - 88 */
  --text-heading-sm: clamp(1.5rem, 3.5vw, 3rem); /* 24 - 48 */
  --text-heading-xs: 2rem; /* 32 */
  --text-body: clamp(1.25rem, 2vw, 1.625rem); /* 20 - 26 */

  /* letter spacing */
  --tracking-loose: 5%;
  --tracking-tight: -0.5%;
  --tracking-tighter: -2%;

  /* border radius */
  --radius-5xl: 2.5rem;
  --radius-6xl: 3rem;
  --radius-7xl: 3.5rem;
  --radius-8xl: 4rem;
  --radius-9xl: 4.5rem;
  --radius-10xl: 5rem;

  /* box shadows */
  --inset-shadow-lg: inset 0 -8px 0 4px;
  --inset-shadow-md: inset 0 -6px 0 7px;
  --inset-shadow-sm: inset 0 -4px 0 5px;
  --inset-shadow-xs: inset 0 -2px 0 3px;
  --inset-shadow-highlight-lg: inset 0 -12px 0 11px;
  --inset-shadow-highlight-md: inset 0 6px 0 8px;
  --inset-shadow-highlight-sm: inset 0 1px 0 6px;
}

::-webkit-scrollbar {
  display: none;
}
